:root {
    --primary-color: #191970; /* midnight blue */
    --secondary-color: #055a05; /* forest green */
    --tertiary-color: #ffffff; /* white */
    --default-font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font);
    color: var(--primary-color);
}

.grid-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

header img {
    width: 200px;
    height: auto;
}

.flex-header {
    display: flex;
    justify-content: space-around;
    background-color: #d3d3d3;
}

header ul {
    border: 1px solid var(--primary-color);
}

header li {
    list-style-type: none;
    padding: 5px;
    margin: 1rem;
    border-right: 1px solid #000;
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: 550;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history-container {
    justify-content: center;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    background-color: #d3d3d3;
    margin: 0px;
}

.history-container h2 {
    text-align: center;
    font-size: 32px;
    margin: 8px;
}

.history-container div {
    grid-column-start: 2;
}

.history-container img {
    max-width: 300px;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0;
}

.hero article img {
    float: right;
    width: 75px;
}

.adventure-container {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px 175px;
    grid-template-rows: 50px 115px;
    margin: 0px;
    background-color: #d3d3d3;
}

.adventure-container h2 {
    grid-row-start: 1;
    grid-column-start: 2;
    width: 500px;
    text-align: center;
}

.adventure-container figure {
    grid-row-start: 2;
}

figure img {
    width: 125px;
    height: auto;
}

figcaption {
    font-size: 15px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #d3d3d3;
}

footer img {
    width: 60px;
}

.footer-container p {
    padding: 35px;
}