:root {
    --primary-color: #342555;
    --border-opaque: 1px solid rgb(0 0 0 / 0.2);
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-opaque);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    border: var(--border-opaque);
    margin: 10px;
    padding: 10px;
    background-color: #eeeeee;
    color: #333333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: var(--border-opaque);
    text-align: center;
}
