:root {
    --primary-color: #342555;
    --border-opaque: 1px solid rgb(0 0 0 / 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-opaque);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 1rem;
    right: 4.5rem;
}

footer {
    margin-top: 10px;
    border-top: var(--border-opaque);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border-opaque);
    padding: 1rem;
    background-color: #eeeeee;
    color: var(--primary-color);
}