.callout {
	max-width: 400px;
    margin: 8px;
    border: 5px;
    padding: 5px;
    background-color: #5b7c99;
    color: #ffffff;
}

.callout img {
	float: right;
    margin: 15px;
    border: 5px solid #f0f0f0;
    padding: 0px;
    background-color: #000000;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 10px;
}

cite {
	display: block;
    border-top: 2px dotted #ffffff;
    padding-top: 5px;
    text-align: right;
    font-size: .75em;
}